.body {
    width: 100%;
    font-family: "Roboto", sans-serif;

}
.w3-bar-block .w3-bar-item {
    padding: 16px;
    font-weight: bold;

}
.mySidebar{
    z-index:3;
    width:250px;
    margin: 1%;
}
.mySidebar img{
    width:60%;
    padding-left: 10%;


}
.mySidebar2{
    z-index:3;
    width:100%;
}
.mySidebar2 a{
    font-weight: bold;
    font-size: 12px;
    border: 1px solid black;
}
.mySidebar2 img {
    width: 30%;
}
.myOverlay{
    cursor: pointer;
}
.page_1{
    margin: 1%;
    margin-left: 20%;
    min-height: 685px;

}
h1,h2,h3,h4,h5,h6{
    padding-top: 5px;
    color: #c20937;
    text-align: center;
}
h1,h2{
    margin-top: 0;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
h3{
    margin-top: 0;
    font-size: 18px;
}
a{
    text-decoration: none;
    color: #c20937;
}
header {
    position: relative;
    padding-top: 20px;
    padding-bottom: 40px;
}
.row11{
    align-content: center;
}
.t-left{
    font-size: 14px;
}
.svg-l img {
    vertical-align: middle;
    width: 170px;
    height: 100px;
}
.svg-l{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.page {
    padding-top: 30px;
    height: 95%;
}
.page2{
    padding-top: 40px;
    padding-bottom: 50px;
    min-height: 90%;
}
.page2 p{
    width: 100%;
}
.page p{
    width: 80%;
}
.topMenu{
    display: block;
}
table, td, th {
    border: 1px solid black;
}
table {
    border-collapse: separate;
    width: 100%;
}
th {
    height: 60px;
}


@media screen and (max-width: 1600px){
    .mySidebar {
        width:250px;
    }
    .col-6{
        width:45%;
    }
    .mySidebar2 {
        width:0;
    }

}

@media screen and (max-width: 1200px){
    .mySidebar {
        width:200px;
    }
    .col-6{
        width:45%;
    }
    .page_1{
        margin-left: 23%;
        min-height: 590px;
    }
    .mySidebar2 {
        width:0;
    }

}

@media screen and (max-width: 1199px){
    .mySidebar{
        width: 180px;
        font-size: 11px;
    }
    .col-6{
        width:45%;
    }
    .page_1{
        margin: 2%;
        margin-left: 22%;
        min-height: 590px;
    }

    .mySidebar2 {
        width:0;
    }

}

